- provide(:title, 'HOME')
.container
  .search-form.form-inline
    = search_form_for @search do |f|
      .form-group
        = f.search_field :content_cont, class: "form-control search-form__question", placeholder: "検索したいキーワードを入力して下さい"
        = f.submit "検索", class: "btn btn-info btn-sm"
      - if current_user.teacher?
        .form-group
          = f.search_field :user_name_cont, class: "form-control search-form__user-name", placeholder: "生徒の名前を入力して下さい"
          = f.submit "検索", class: "btn btn-info btn-sm"
  %table.table.table-bordered.table-hover.text-center.questionTable
    %thead
      %tr.table-active
        %th.questionTable__first-table{:scope => "col"} 教科
        %th.questionTable__second-table{:scope => "col"} 質問
        %th.questionTable__third-table{:scope => "col"} コメント
    %tbody
      - @questions.each do |q|
        %tr
          -if q.subject == "japanese"
            %td.badge.badge-warning.questionTable__subject= q.subject_i18n
          -if q.subject == "math"
            %td.badge.badge-primary.questionTable__subject= q.subject_i18n
          -if q.subject == "society"
            %td.badge.badge-info.questionTable__subject= q.subject_i18n
          -if q.subject == "science"
            %td.badge.badge-success.questionTable__subject= q.subject_i18n
          -if q.subject == "english"
            %td.badge.badge-danger.questionTable__subject= q.subject_i18n
          %td.questionTable__content= link_to q.content, question_path(q)
          - if q.answers.present?
            %td= link_to "コメント(#{q.answers.count})", question_path(q)
          -else
            %td= "コメント(#{q.answers.count})"
  = paginate @questions
