- provide(:title, 'HOME')
.container
  %h2 質問
  %table.table.table-bordered.table-hover.text-center.questionTable
    %thead
      %tr
        %th{:scope => "col"} 教科
        %th{:scope => "col"} 質問
        %th{:scope => "col"} コメント
    %tbody
      - @questions.each do |q|
        %tr
          -if q.subject == "japanese"
            %td.badge.badge-warning.questionTable__subject= q.subject_i18n
          -if q.subject == "math"
            %td.badge.badge-primary.questionTable__subject= q.subject_i18n
          -if q.subject == "society"
            %td.badge.badge-info.questionTable__subject= q.subject_i18n
          -if q.subject == "science"
            %td.badge.badge-success.questionTable__subject= q.subject_i18n
          -if q.subject == "english"
            %td.badge.badge-danger.questionTable__subject= q.subject_i18n
          %td= link_to q.content, question_path(q)
          - q.answers.each do |a|
            %td= a.content
  = paginate @questions
