- provide(:title, 'HOME')
.container
  .search-form.form-inline
    = search_form_for @search do |f|
      .form-group
        = f.select :subject_eq, Question.subjects.map { |k,v| [Question.subjects_i18n[k], v] }, {}, class: "form-control search-form__question-subject"
      .form-group
        = f.search_field :content_cont, class: "form-control search-form__question", placeholder: "検索したいキーワードを入力して下さい"
        = f.submit "検索", class: "btn btn-info btn-sm"
      - if current_user.teacher?
        .form-group
          = f.search_field :user_name_cont, class: "form-control search-form__user-name", placeholder: "生徒の名前を入力して下さい"
          = f.submit "検索", class: "btn btn-info btn-sm"
  %table.table.table-bordered.table-hover.text-center.questionTable
    %thead
      %tr.table-active
        %th.question-table__first-table{:scope => "col"} 教科
        %th.question-table__second-table{:scope => "col"} 質問
        %th.question-table__third-table{:scope => "col"} コメント
    %tbody
      - @questions.each do |q|
        %tr
          -if q.japanese?
            %td.badge.badge-warning.question-table__subject= q.subject_i18n
          -if q.math?
            %td.badge.badge-primary.question-table__subject= q.subject_i18n
          -if q.society?
            %td.badge.badge-info.question-table__subject= q.subject_i18n
          -if q.science?
            %td.badge.badge-success.question-table__subject= q.subject_i18n
          -if q.english?
            %td.badge.badge-danger.question-table__subject= q.subject_i18n
          %td.question-table__content= link_to q.content, question_path(q)
          - if q.answers.present?
            %td= link_to "コメント(#{q.answers.count})", question_path(q)
          -else
            %td= "コメント(#{q.answers.count})"
  = paginate @questions
