- @questions.each do |q|
  = q.content
  = q.subject_i18n
  - q.images.each do |image|
    = image_tag image.file.url, size: '50'
  = link_to "編集する", edit_question_path(q)
  = link_to "削除する", question_path(q), method: :delete
%p= link_to "ホームへ", root_path
