- provide(:title, '投稿詳細')
.container
  .question-detail
    %ul.list-group
      - if current_user.teacher?
        %li.list-group-item= @question.user.name
      %li.list-group-item.active= @question.subject_i18n
      -if @question.images.present?
        %li.list-group-item
          - @question.images.each do |image|
            = image_tag image.file.url, class: "card-img-top question-detail__image"
      %li.list-group-item= simple_format(h(@question.content))
      - if user_signed_in? && current_user.id != @question.user_id
        %li.list-group-item.js-question_like-button.question-like{:class => "js-question_like-button-#{@question.id}"}
          = render partial: 'question_likes/question_like', locals: { question: @question }
      - if current_user.id == @question.user_id
        %li.list-group-item
          = link_to "編集する", edit_question_path(@question), class: "btn btn-primary btn-sm"
          = link_to "削除する", question_path(@question), method: :delete, class: "btn btn-danger btn-sm",  data: { confirm: '本当に削除してよろしいですか？' }
  - @question.answers.each do |answer|
    - if answer.content.present?
      .answer
        %h3.question-detail_answer_title 解答
        %ul.list-group
          -if answer.answer_images.present?
            %li.list-group-item
              - answer.answer_images.each do |answer_image|
                = image_tag answer_image.file.url, class: "card-img-top"
          %li.list-group-item= simple_format(h(answer.content))
          - if user_signed_in? && current_user.id != answer.user_id
            %li.list-group-item.js-answer_like-button.answer-like{:class => "js-answer_like-button-#{answer.id}"}
              = render partial: 'answer_likes/answer_like', locals: { answer: answer, question: @question }
          - if current_user.id == answer.user_id
            %li.list-group-item
              = link_to "編集する", edit_question_answer_path(@question, answer), class: "btn btn-primary btn-sm"
              = link_to "削除する", question_answer_path(@question), method: :delete, class: "btn btn-danger btn-sm",  data: { confirm: '本当に削除してよろしいですか？' }
  - if current_user.teacher?
    .answerform.p-3.mb-2.bg-dark.text-whit
      = form_for [@question, @answer] do |f|
        .form-group
          = f.text_area :content, class: "form-control js-text-auto-size"
        .form-group
          = f.fields_for :answer_images do |answer_image|
            = render 'answer_image_fields', f: answer_image
        .links
          = link_to_add_association '画像追加', f, :answer_images, class: "btn btn-primary"
        = f.submit "投稿する", class: "btn btn-outline-primary"
