.container
  = form_for [@question, @answer] do |f|
    .form-group
      = f.label :content
      = f.text_area :content, label: "コメント", value: "#{@answer.content}", class: "form-control"
    = f.submit "更新する", class: "btn btn-primary"
