- if user_signed_in?
  %nav.navbar.navbar-expand-lg.navbar-light.white.scrolling-navbar
    .container
      %a.navbar-brand{:href => "/"}
        %strong.blue-text PQBApp
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"} ユーザーページ
            .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              = link_to "マイページ", user_path(current_user), class: "dropdown-item"
              = link_to "ユーザー情報を変更する", edit_user_registration_path, class: "dropdown-item"
              = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item"
          %li.nav-item.dropdown
            %a.nav-link.waves-effect.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} お気に入り
            %ul.dropdown-menu
              = link_to "お気に入りした質問"
          = link_to "投稿する", new_question_path, class: "btn btn-primary"
- else
  %nav.navbar.navbar-expand-lg.navbar-light.white.scrolling-navbar
    .container
      %a.navbar-brand{:href => "/"}
        %strong.blue-text PQBApp
        .nav
          = link_to "ユーザー登録", new_registration_path(resource_name), class: "btn btn-success"
          = link_to "ログイン", new_session_path(resource_name),  class: "btn btn-primary"
